/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*reset browser*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
}

.intro-overlay{
    position: relative;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.intro-overlay img.first{
    /*display: block;*/
    height: 100vh;
    width: 100vw;
    object-fit: cover; /*keep the scaling proper*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #000000;*/
    color:#ffffff;
    font-size: 80px;
    text-align: center;
    z-index: 2;
}

.entry-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #000000;*/
    color:#ffffff;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
}

.arrow1 img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);/*make it directly in the middle*/
    width: 100px;
    height: 100px;
    z-index: 2;
}

.second {
    display: block; /* Ensures no inline spacing */
    width: 100%; /* Full width to match browser size */
    height: auto; /* Keep image aspect ratio */
    margin: 0; /* Remove any potential margin */
    padding: 0; /* Remove any padding */
}
